.button-paciente-pendente {
  width: 138px !important;
  height: 28px !important;
  background-color: #fff;
  border: 1px solid orange !important;
  color: orange !important;
  font-weight: 700;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover,
  &:focus,
  &:active {
    background-color: #fff !important;
    border: 1px solid orange !important;
    color: orange !important;
    box-shadow: none !important;
    outline: none !important;
  }
}

.button-ver-exames {
  width: 138px !important;
  height: 30px !important;
  background-color: #14b8a6;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #109e93 !important;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.button-cancelar-acesso-paciente {
  width: 138px;
  height: 30px;
  border-radius: 8px;
}

.container-buttons-paciente-ativo {
  display: flex;
  gap: 14px;
}
