.recuperar-senha-modal {
  .ant-modal-content {
    background: #fff;
  }

  .rs-header {
    text-align: center;
    margin-bottom: 12px;

    h2 {
      margin: 0 0 6px 0;
      font-size: 36px;
      font-weight: 800;
      color: #0f172a;
    }

    p {
      margin: 0;
      font-size: 16px;
      color: #64748b;
    }
  }

  .rs-submit {
    margin-top: 12px;
    background: #14b8a6;
    border: none;

    &:hover {
      background-color: #109e93 !important;
    }
  }

  .rs-back-link {
    display: block;
    width: 100%;
    margin-top: 14px;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
    color: #0ea5e9;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus,
    &:focus-visible,
    &:active {
      outline: none;
      box-shadow: none;
    }
  }
}
