.termo-de-uso-modal .ant-modal-content {
  scrollbar-width: thin;
  scrollbar-color: #bdbdbd transparent;
  max-height: 80vh;
  overflow: auto;
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.termo-de-uso-modal .ant-modal-content::-webkit-scrollbar {
  width: 8px;
}

.termo-de-uso-modal .ant-modal-content::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  border-radius: 4px;
}

.titulo-modal {
  font-size: 32px;
  font-weight: 800;
  color: #0f172a;
  text-align: center;
}

.conteudo-termo {
  text-align: justify;
  line-height: 1.6;
  padding: 0px 30px 20px 30px;
}

.button-fechar-modal {
  width: 30% !important;
  background-color: #14b8a6;
  color: #fff;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  padding: 12px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background-color: #109e93 !important;
    color: white !important;
  }

  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    box-shadow: none;
    border: none;
  }
}

.container-button-fechar {
  display: flex;
  justify-content: center;
}
